<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Gestion des groupes utilisateurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" horizontal="end" vertical="top" (click)="post()">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  
  <ion-list *ngFor="let groupe of groupes">
    <ion-item button detail="true">
      <ion-label>
        <h3>{{ groupe.libelle }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>



</ion-content>
