<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Liste de course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngFor="let course of courses">
    <ion-item button detail="true" (click)="put(course.id)">
      <ion-label>
        <h3>{{ getLibelleMagasin(course.magasinId) }} - {{ course.montantTheorique }} XPF</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-fab slot="fixed" horizontal="end" vertical="bottom" (click)="post()">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
